.teste {
    background-color: lightblue;
}

.testeBorder {
    border-width: medium;
}

.borderColor {
    border-color: lawngreen;
}

.labelFirstRelatorioInicial {
    font-weight: bold;
}

.labelSecondRelatorioInicial {
    font-style: italic;
}
